@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: PT Sans;
}
main{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top: 17px;
}

.nav{
    background: black;
    color: white;
    height: auto;
    font-family: sans-serif;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.nav-title{
    max-width:400px ;
    display: flex;
    padding: 16px 40px;
    text-align: center;
}
.nav-title img{
    width: 100%;
}
.nav-title h1{
    max-width: 100%;
}

.searchArea{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    height: 35px;
    padding: 10px;

}



#searchBar{
    flex-wrap: wrap;
    color: black;
}

form > button{
    align-items: flex-end;
}
/********WINKELMAND*****/
#winkelmandje span{
    z-index: 1;
    margin-left: -30px;
    border-radius: 10px;
    background-color: lightblue;
    font-size: 16px;
    vertical-align: top;
}
/********/
#winkelmandje > img{
    background: red;
}
#login{
    display: flex;
}
#dropdown-content{
    display: none;
}
#dropdown{
    padding-right: 10px;
}

.nav-menu{
    width: 70%;
    display: flex;
}

.nav-menu ul{
    display: flex;
    justify-content: flex-end;
}

.nav-menu ul li{
    padding: 10px 20px;
    color: #ffffff;
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;
}
.nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.nav-menu ul li:hover{
    color: #fff;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    .nav-title{
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    .nav{
        display: flex;
        flex-direction: column;
    }
    .nav-title img{
        max-width: 90%;
        height: auto;
    }

    .nav ul li a {
        font-size: 23px;
    }
}
@media only screen and (max-width: 950px) {
    .nav-menu{
        width: auto;
    }

    #login{
        order:1;
    }

    .nav-title{
        order: 2;
    }
    .nav-menu{
        order: 3;
    }


}





/* Header */


/* Search Bar Area  */







/*   Login   */


#login a:first-child{
    margin-right: 20px;
    text-decoration: none;
    color: black;
}



#login a:first-child:hover{
    text-decoration: underline;
    color: deepskyblue;
}
#login a img{
    width:38px;
}

#login a img:hover{
    box-shadow: 0 0 2px 1px rgba(87, 106, 193, 0.65);
    border-radius: 20px;
    border-color: black;
    cursor: pointer;
}









/* nav bar  */


/* Login  Window */


#modal{
    z-index: 1;
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    padding-top: 60px;

}

#loginWindow{
    opacity: 90%;
    border-radius: 25px;
    position: fixed;
    margin-top: 0;
    margin-left: 35%;
    z-index: 1;
    width: 450px;/*30%;*/
    height: 400px; /*40%;*/
    overflow: auto;
    border: 2px #f34927 solid;
    background: white; /* url("../ATest/TestPicture-quadrifoglio.jpg");*/

}

#loginWindow [id=CloseButton]{
    float: right;
    justify-content: right;
    border: none;
    margin-top: 10px;
    margin-right: 10px;
    background: transparent;
}

#loginWindow form{
    font-size: 23px;
    margin-top: 13%;
    margin-left: 10%;
    width: 80%;
    text-decoration: none;
}

#loginWindow form input{
    font-size: 22px;
    text-decoration: none;
    width: 90%;
    margin-bottom: 2%;
    border: 1px black ;
    border-radius: 25px;
    padding: 10px 15px;
    background: transparent;
    color: black;
}

input:focus{
    outline: none;
}
body button:focus {
    outline: none;
}
body button:hover {
    box-shadow: 0 0 2px 3px rgba(87, 106, 193, 0.65);
}

#loginWindow form input:hover,#loginWindow form input:hover{
    box-shadow: 0 0 2px 2px rgb(255, 51, 119);
}


[id=loginButton]{
    font-size: 18px;
    margin-top: 8%;
    margin:10%;
    width: 80%;
    padding: 12px 15px;
    font-style:italic;
    background-color: lightsalmon;
    color: black;
    border-radius: 25px;
    border: none;
}

[id=loginButton]:hover{
 /*   border: 1px skyblue solid;*/
}
#cancelButton{
    margin-left: 10%;
}

#registeren{
    margin-left: 10px;
}
#cancelButton,#registeren{
    margin-top:4%;
    vertical-align: bottom;
    background-color: lightsalmon;
    border: 1px red;
    font-size: 18px;
    border-radius: 10px;
}

#loginWindow span{
    margin-top: 5%;
    margin-right: 12%;
    float: right;
}

#loginWindow span a{
    color: black;
    text-decoration: underline;
}



/*  ----- test drop down menu -----*/
#dropdown-content{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background-color: indianred;
    position: fixed;
    display: none;
}
#dropdown-content:hover{
    display: none;
}

#dropdown-content a{
    text-decoration: none;
    color: black;
}
/* ----------  */


/* Main*/



.spotlight-container{
    width: 540px;
   margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}
.spotlight-container-image{
    width: 2700px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}
.spotlight-container-links{
    float: left;
    margin: 0;
    padding: 0;
    width: 540px;
}
.button-container{
    position: relative;
}
.slider-button{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: blue;
}

#slider-image-1:target ~ .spotlight-container-image{
    left: 0;
}
#slider-image-2:target ~ .spotlight-container-image{
    left: -540px;
}
#slider-image-3:target ~ .spotlight-container-image{
    left: -1080px;
}
#slider-image-4:target ~ .spotlight-container-image{
    left: -1620px;
}
#slider-image-5:target ~ .spotlight-container-image{
    left: -2160px;
}

/* Best sellers */

#bestseller h2{
    border-bottom: wheat solid 1px;
    font-size: 25px;
    background-color: white;
    border-bottom: 1px solid wheat;
    text-align: left;
}

.boekensales{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    overflow: scroll
}

.container{
    background-color: wheat;
    border:3px  solid floralwhite ;
    justify-content: space-around;
    border-radius: 20px;

}

.container {
    display: flex;
    flex-direction: column;
    background-color: wheat;
    border: 2px solid white;

}
.container:hover{
    transform:translateY(-7px);
    cursor: pointer;
    transition: all 0.4s ease 0s;
}
.prijs p{
    font-size: 17px;
    padding: 5px 20px 5px 20px;
}
.bookcover img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.bookcover{
    margin: auto;
    width: 100px;
    border: 5px solid floralwhite;
}




/* ---- Footer ---- */

/* --- footer container ---*/

.footer-container{
    display: flex;
    flex-direction: column;
    height: auto;
}

.footer-container li{
    cursor: hand;
    list-style-type: none;
}

.footer-container a{
    text-decoration: none;
    color: black;
}

.footer-container a:hover{
    text-decoration: underline;
}

/* --- footer content --- */

.footer-content {
    display: flex;
    flex-direction: row;
    height: auto;
    font-size: 12px;
    background-color:lightgray;
    justify-content: space-around;
}

/* --- Klanten service --- */

.footer-klantenservice{

}

/* --- Over ons --- */

.footer-about{

}

/* --- Sponsers --- */

.footer-sponsors{

}

/* --- Betaalwijze --- */

.footer-betaalwijzen{

}

.footer-betaalwijzen img{
    width: 40px;
    height: 25px;
}

.footer-betaalwijzen ul li:nth-child(n+2){
    display: inline-block;

}

/* --- Leveranciers --- */

.footer-leveranciers{
    float: right;
    display: inline;
    margin-right: 40px;

}

.footer-leveranciers ul li:nth-child(n+2){
    display: inline-block;
}

.footer-leveranciers img{
    width: 40px;
    height: 25px;
}

/* ---- footer bottom ----*/

.footer-bottom{
    display: flex;
    flex-direction: row;
    background-color: white;
    font-size: 11px;
    justify-content: center;
    height: auto;

}

.logoinfooter{
    display: flex;
    flex-direction: row;
}

.logoinfooter img{
    width: 150px;
    height: auto;
}

.footerbottomgegevens{
    display: flex;
}

.footerbottomgegevens li{
    display: inline-block;
}

.footerbottomlijst{
    height: auto;
}

.footer-container h4 {
    font-family: 'The Girl Next Door',sans-serif;
    font-weight: bold;
}

/* winkelmandje

 */
#winkelmandje span{
    z-index: 1;
    margin-left: -30px;
    border-radius: 10px;
    background-color: lightblue;
    font-size: 16px;
    vertical-align: top;

}

@media screen and (max-width: 600px) {
    /**{
        margin: 0;
    }*/
    #login {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: auto;
        justify-content: space-evenly;
    }
    #searchBar{
        width: 500px;
    }
    .nav-menu{
    align-items: center;
    }
    .nav-menu:nth-child(2){
        flex-direction: column;
    }
    .nav{
        height: 250px;
    }
    #bestseller h2 {
        text-align: center;
    }

    .footer-container{
        width: 100%;
    }

    .footer-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 20px;
    }
    .spotlight-container {
        width: 100%;
        height: auto;
    }
    .boekensales{
        display: flex;
        flex-direction: column;
    }



}

@media screen and (min-width: 1000px) {
    .boekensales {
        overflow: hidden;
        align-items: center;
        justify-content: center;
    }
}
