@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: PT Sans;
}
body{
    background-color: white;
    display: grid;

}
main{
    display: flex;
    background-color: white;
}


.nav{
    background: black;
    color: white;
    height: auto;
    font-family: sans-serif;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.nav-title{
    max-width:400px ;
    display: flex;
    padding: 16px 40px;
    text-align: center;
}
.nav-title img{
    width: 100%;
}
.nav-title h1{
    max-width: 100%;
}

.searchArea{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    height: 35px;
    padding: 10px;

}

#searchBar{
    flex-wrap: wrap;
    color: black;
}

form > button{
    align-items: flex-end;
}
/********WINKELMAND*****/
#winkelmandje span{
    z-index: 1;
    margin-left: -30px;
    border-radius: 10px;
    background-color: lightblue;
    font-size: 16px;
    vertical-align: top;
}
/********/
#winkelmandje > img{
    background: red;
}
#login{
    display: flex;
}
#dropdown-content{
    display: none;
}
#dropdown{
    padding-right: 10px;
}

.nav-menu{
    width: 70%;
    display: flex;
}

.nav-menu ul{
    display: flex;
    justify-content: flex-end;
}

.nav-menu ul li{
    padding: 10px 20px;
    color: #ffffff;
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;
}
.nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.nav-menu ul li:hover{
    color: #fff;
    font-weight: bold;
}


@media only screen and (max-width: 1200px) {
    .nav-title{
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    .nav{
        display: flex;
        flex-direction: column;
    }
    .nav-title img{
        max-width: 90%;
        height: auto;
    }

    .nav ul li a {
        font-size: 23px;
    }
}
@media only screen and (max-width: 950px) {
    .nav-menu{
        width: auto;
    }

    #login{
        order:1;
    }

    .nav-title{
        order: 2;
    }
    .nav-menu{
        order: 3;
    }
}


/**********NAV TOT HIER***************/


/*MAIN*/
main{
    background-color: white;
    display: flex;
    align-items: center;
 justify-content: center;
}
main p {
    font-weight: bolder;
    font-size: 30px;
}
.containerbestelling{
    display: flex;
    flex-direction: column;
    margin: 20px 325px 0 325px;

}

.container{
    border-bottom: 1px solid #e6ecef;
    margin-bottom: 10px;
    padding-bottom: 25px;
    max-width: 500px;
}
.bestellingdata{
    display: flex;
    flex-direction: row;
}
.prijs{
    display: flex;
    flex-direction: row;
    padding-left: 25px;
}
.bestelling{
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    background-color: #f3f3f3;
}
.besteldata{
    margin-left: 5px;
}
.bestelnr{
    padding-left: 4px ;
    font-weight: bold;
}
.subcontainer{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.subsubcontainer{
    display: flex;
    flex-direction: column;
}

.datumenprijs{
    display: flex;
    flex-direction: row;
}
.prodfotos{
    display: flex;
    flex-direction: row;
    padding: 10px;
    overflow: auto;
}
.prodfotos > img{
    max-width: 80px;
    margin: 7px;
}

