*{
    box-sizing: border-box;
}


.nav{
    background: black;
    color: white;
    height: auto;
    font-family: sans-serif;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.nav-title{
    max-width:400px ;
    display: flex;
    padding: 16px 40px;
    text-align: center;
}
.nav-title img{
    width: 100%;
}
.nav-title h1{
    max-width: 100%;
}

.searchArea{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    height: 35px;
    padding: 10px;

}

#searchBar{
    flex-wrap: wrap;
    color: black;
}

form > button{
    align-items: flex-end;
}
/********WINKELMAND*****/
#winkelmandje span{
    z-index: 1;
    margin-left: -30px;
    border-radius: 10px;
    background-color: lightblue;
    font-size: 16px;
    vertical-align: top;
}
/********/
#winkelmandje > img{
    background: red;
}
#login{
    display: flex;
}
#dropdown-content{
    display: none;
}
#dropdown{
    padding-right: 10px;
}

.nav-menu{
    width: 70%;
    display: flex;
}

.nav-menu ul{
    display: flex;
    justify-content: flex-end;
}

.nav-menu ul li{
    padding: 10px 20px;
    color: #ffffff;
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;
}
.nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.nav-menu ul li:hover{
    color: #fff;
    font-weight: bold;
}
@media only screen and (max-width: 600px){
    #searchBar{
        width: 500px;
    }
    .nav-menu{
        align-items: center;
    }
    .nav-menu:nth-child(2){
        flex-direction: column;
    }
    .nav{
        height: 250px;
    }
}
@media only screen and (max-width: 1200px) {
    .nav-title{
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    .nav{
        display: flex;
        flex-direction: column;
    }
    .nav-title img{
        max-width: 90%;
        height: auto;
    }

    .nav ul li a {
        font-size: 23px;
    }
}
@media only screen and (max-width: 950px) {
    .nav-menu{
        width: auto;
    }

    #login{
        order:1;
    }

    .nav-title{
        order: 2;
    }
    .nav-menu{
        order: 3;
    }


}




/********NAV TOT HIER********/



.overons{
    display: flex;
    flex-direction: column;

}

.wieismyth {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.doel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tekstoverons{
    background: rgba(0,0,0,0.7);
    padding: 5%;
    background-color: #FFE4C4;
    padding-top: 1%;
    margin-left: 5%;
    margin-top: 5%;
    width: 500px;
    height: 200px;
}

.tekstdoel{
    background: rgba(0,0,0,0.7);
    padding: 5%;
    background-color: #FFE4C4;
    padding-top: 1%;
    width: 400px;
    height: 300px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.fototeam img{
    width: 500px;
    height: 400px;
}
.fotodoel{
    margin-left: 5%;
    margin-top: 5%;
}

@media screen and (max-width: 600px) {

    .overons{
        margin: auto;
        padding: 0;
    }
    .fototeam{
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .wieismyth {
        display: flex;
        flex-direction: column;
    }

    .fotodoel img {
        width: 100%;
    }

    .tekstoverons{
        width: 100%;
    }
    .doel{
        flex-direction: column;
    }
    .tekstdoel{
        width: 100%;
    }


}






