@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: PT Sans;
    color: #ffffff;
}

.nav{
    background: black;
    color: white;
    height: auto;
    font-family: sans-serif;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.nav-title{
    max-width:400px ;
    display: flex;
    padding: 16px 40px;
    text-align: center;
}
.nav-title img{
    width: 100%;
}
.nav-title h1{
    max-width: 100%;
}

.searchArea{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    height: 35px;
    padding: 10px;

}

#searchBar{
    flex-wrap: wrap;
    color: black;
}

form > button{
    align-items: flex-end;
}
/********WINKELMAND*****/
#winkelmandje span{
    z-index: 1;
    margin-left: -30px;
    border-radius: 10px;
    background-color: lightblue;
    font-size: 16px;
    vertical-align: top;
}
/********/
#winkelmandje > img{
    background: red;
}
#login{
    display: flex;
}
#dropdown-content{
    display: none;
}
#dropdown{
    padding-right: 10px;
}

.nav-menu{
    width: 70%;
    display: flex;
}

.nav-menu ul{
    display: flex;
    justify-content: flex-end;
}

.nav-menu ul li{
    padding: 10px 20px;
    color: #ffffff;
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;
}
 .nav ul li a {
     text-decoration: none;
     color: #ffffff;
 }

.nav-menu ul li:hover{
    color: #fff;
    font-weight: bold;
}


/*******NAVIGATIE MENU ********/

.container-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 40px 20px 40px;
    margin-right: auto;
    margin-left: auto;
    color: black;
    min-height: 1px;
    position: relative;

}

.boekimgvoorachter{
    height: 200px;
    width: auto;
    border: 1px solid black;
}
.boekimages{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    border: 1px solid white;
    min-height: 1px;
}
.fotoachter, .fotovoor{
    height: 200px;
    width: auto;
    padding: 5px;
    display: none;
}

.infoprod{
    padding: 0 12px 0 12px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 80%;
}
.hoofding{
    color: black;
    padding-top: 30px;
    border-bottom: 2px solid #F5F5F5;
}

.taal{
    color: #666;
}


.imagecontainer > img{
    height: 600px;
    width: auto;
    display: inline-block;
    padding: 20px 60px;
    border: 2px solid #F5F5F5;
}
.imagecontainer .hoverfoto1{
    display: none;
    position: absolute;
    z-index: 99;
}
.imagecontainer:hover .hoverfoto1{
    display: inline;
    position: inherit;

}

.imagecontainer:hover .hoverfoto2{
    display: none;
    position: absolute;
    z-index: 99;
}
.prijsboek{
    padding: 20px 0;
    font-size: 2em;
    color:  #aa381e;
    font-weight: bold;
    border-bottom: 2px solid #F5F5F5;
}
.hoofding > h3{
    padding:5px;
    color: black;
}
.schrijver{
    padding: 5px;
    color: black;
    font-size: 1.1em;
}
.taal{
    padding: 5px;
    color: #666;
}
.slot{
padding: 12px 2px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #F5F5F5;
}

.orderbutton{
    display: flex;
    flex-direction: row;
    max-width: 200px;
}
.slot > p{
    text-align: right;

}
.tekst{
    margin-top: 10px;
    font-size: 15px;
}
.btnWinkelmand{
    border-radius: 10px;
    max-width: 180px;
    background-color: #27ae60;
    outline: none;
}


.btnWinkelmand:hover {background-color: #3e8e41}

.btnWinkelmand:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.mandje{
    background: rgba(0,0,0,0.1);
    padding: 8px;
    margin-right: 8px;
    border-radius: 8px;
}
.veiligbet{
    padding-top: 9px;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
}
.lock{
    display: flex;
    flex-direction: column;
}
.shopcart{
    display: flex;
    flex-direction: column;
}
.fa-shopping-cart, .fa-lock{
    color: #666666;
}
.slot p{
    color: #666;
    padding-left: 4px;
    font-size: 13px;
    align-items: center;
}
.fa-shopping-cart{
    color: white;
    transform: scaleX(-1);
}



/***** CONTAINER 2 ******/


.container-2{
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
    color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 1px;
    text-align: left;

}
.omschrijving{

}

.tussentitelOmschrijving{
    font-family: 'Kalam', cursive;
    font-size: 26.8px;
    color: #3b393d;
    padding-left: 10px;
    margin-top: 10.3px;
}
.tekstOmschrijving{
    margin: 0 35px 35px 0;
}



.alinea1, .alinea2, .alinea3{
    color: black;
    margin: 20px 15px;
}



/*******SPECIFICATIES******/
.specificaties{
    margin-bottom: 10px;
}
.tekstSpec{
    display: flex;
    flex-direction: row;
    margin-top: 14px;
}

.specfoto{
    max-width: 33.3%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    border: 2px solid #F5F5F5;
}
.specfoto > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}
.specLabel{
    color: #999999;
    font-size: 16px;
}
.specList{
    padding: 0 15px;
    list-style: none;
}

ul li {
    color: black;
    margin-top: 3px;
}

.footer-container{
    display: none;
}

@media only screen and (max-width: 1200px) {
    .nav-title{
       display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    .nav{
        display: flex;
        flex-direction: column;
    }
    .nav-title img{
        max-width: 90%;
        height: auto;
    }

    .nav ul li a {
       font-size: 23px;
    }
}
@media only screen and (max-width: 950px) {
    .nav-menu{
        width: auto;
    }

    #login{
        order:1;
    }

    .nav-title{
        order: 2;
    }
    .nav-menu{
        order: 3;
    }


}
/******FOOTER*******/
@media only screen and (min-width: 1000px) {

   h4{
        color: black;
    }

.footer-container{
    display: flex;
    flex-direction: column;
    height: auto;
}

.footer-container li{
    cursor: hand;
    list-style-type: none;
}

.footer-container a{
    text-decoration: none;
    color: black;
}

.footer-container a:hover{
    text-decoration: underline;
}

/* --- footer content --- */

.footer-content {
    display: flex;
    flex-direction: row;
    height: auto;
    font-size: 12px;
    background-color:lightgray;
    justify-content: space-between;
    padding: 0 20px
}

/* --- Klanten service --- */

.footer-klantenservice{

}

/* --- Over ons --- */

.footer-about{

}

/* --- Sponsers --- */

.footer-sponsors{

}

/* --- Betaalwijze --- */

.footer-betaalwijzen{

}

.footer-betaalwijzen img{
    width: 40px;
    height: 25px;
}

.footer-betaalwijzen ul li:nth-child(n+2){
    display: inline-block;

}

/* --- Leveranciers --- */

.footer-leveranciers{
    float: right;
    display: inline;
    margin-right: 40px;

}

.footer-leveranciers ul li:nth-child(n+2){
    display: inline-block;
}

.footer-leveranciers img{
    width: 40px;
    height: 25px;
}

/* ---- footer bottom ----*/

.footer-bottom{
    display: flex;
    flex-direction: row;
    background-color: white;
    font-size: 11px;
    justify-content: center;
    height: auto;

}

.logoinfooter{
    display: flex;
    flex-direction: row;
}

.logoinfooter img{
    width: 150px;
    height: 50px;

}

.footerbottomgegevens{
    display: flex;
}

.footerbottomgegevens li{
    display: inline-block;
}

.footerbottomlijst{
    height: auto;
}

.footer-container h4 {
    font-family: 'The Girl Next Door',sans-serif;
    font-weight: bold;
}

    @media only screen and (max-width: 600px){
        #searchBar{
            width: 500px;
        }
        .nav-menu{
            align-items: center;
        }
        .nav-menu:nth-child(2){
            flex-direction: column;
        }
        .nav{
            height: 250px;
        }
    }

@media only screen and (min-width: 1200px) {
    .container-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 60px 40px 20px 40px;
        margin-right: 18%;
        margin-left: 18%;
        color: black;
        min-height: 1px;
        position: relative;
    }
    .infoprod{
        margin-bottom: 300px;
    }
    .container-2{
        display: flex;
        flex-direction: row;
        position: relative;

    }
    .specificaties{

    }
    .omschrijving{
        text-align: left;
        width: 60%;
        margin-left: 18%;
    }


}

/************DSFSDSDFSDFD**********/
