*{
    font-family: PT Sans;
}
header,main{
    width: 80%;
margin-left: 10%;
    text-align: center;
}
/* Header */

#Eyes{
    position: relative;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction:row;
}

#logoArea{
    width: 35%;
    padding:0;
    float: left;
    margin-right: 0;
}
#logoArea img{
    width: 70%;
    padding-right: 0;
    margin-right: 0;
}

/* Search Bar Area  */
form.searchArea{
    padding-top: 2%;
    width: 35%;
    display: block;
}

form.searchArea input[type=text]{
    /*  padding: 3.5%; */
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

form.searchArea button{
    /* padding: 1.5%; */
    float: left;
    width: 20%;
    padding: 5.5px;   /* note for G.H // gebruik px of een absolute waarde als je een elementen evenwijdig met een ander element wilt laten lopen i.p.v een procent teken. */
    background: rgba(243, 73, 39, 0.67);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-bottom-right-radius:20px ;
    border-top-right-radius: 20px ;
}

/*   Login   */

#Eyes #login{
    margin-top: 2%;
    margin-left: auto;
    display: flex;
    justify-content: right;
    /*   font-size: 22px; */
}

#login a:first-child{
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

#login a:first-child:hover{
    text-decoration: underline;
    color: deepskyblue;
}
#login a img{
    width:38px;
}

#login a img:hover{
    box-shadow: 0 0 2px 1px rgba(87, 106, 193, 0.65);
    border-radius: 20px;
    border-color: black;
}


/* nav bar  */

header nav{
    border: 2px solid black;
    margin-bottom: 2%;
    border-radius: 40px;
}

/* inside nav bar*/
header nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}
header nav li{
    padding-right: 40px
}

header nav a{
    color: black;
    display:block;
    text-decoration: none;
    font-size: 22px;
    margin: 0;
    padding: 5px;
}

header nav a:hover{
    box-shadow: 0 0 2px 1px rgba(87, 106, 193, 0.65);
    border-radius: 5px;
}


/********MAIN*******/
*{
    box-sizing: border-box;
}

.boeken{
    display: flex;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
    background-color: fuchsia;
    flex-direction: row;
    width: auto;
}

ul{
    list-style: none inside none;
}
.filterTitels{
    border-bottom: 1px solid #e6ecef;
    font-size: 20px;
    font-family: PT Sans;
    font-weight: bold;
}

.filter > .filterListItem > p{
    text-decoration:none;
    text-align: left;
}
.containerchk {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 9px;
    cursor: pointer;
}

.containerchk input {
    position: absolute;
vertical-align: middle;
}

.categorieList{
    text-align: left;
    padding: 10px 0 10px;
}

.filter{
    background-color: white;
    list-style: none;
    padding-left:15px;
    padding-right: 15px;
    width: 300px;
}

div{
    display: block;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row{
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.productlist{
    display: flex;
    flex-direction: column;
    width: auto;
    list-style: none;
    position: relative;

}


.boekfotos{
    /*padding-top: 100%;*/
    position: relative;
    width: 100%;
    display: block;
}

.boekfotos_element{
    object-fit: contain;
    object-position: center center;
    height: 100%;
    padding: 10px;
    display: block;
}


ul{
    list-style-position: inside;
}


.productlistitem{
    display: flex;
    justify-content: space-between;
    max-height: 200px;
    border: 1px solid gray;
    flex-direction: row;
    background-color: whitesmoke;
}
.product{
    display: flex!important;
    flex-direction: row;
    width: 100%;
    margin: 0;
    position: relative;
    align-self: stretch;
}

/*.product_details{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1 1 auto;
}*/
.product_details{

    background-color: red;
    width: 100%;

}
.product_details_title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 20px;
}
.product_details_title > p {
    margin: 0;
}
.prijs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 20px;
    color: #27ae60;
}
.orderbutton{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: white;
    font-family: sans-serif;
    padding: 7px;
    justify-content: left;
    align-content: space-around;
    cursor: pointer;
    background-color: forestgreen;
    border-radius: 6px;
    max-width: 90%;
    margin-left: 22px;
}

.tekst {
   text-align: left;
    line-height: 1.2;
    cursor: pointer;
}
.mandje{
    background: rgba(0,0,0,.1);
    border-radius: 6px;
    min-width: 40px;
    height: 40px;
    font-size: 14px;
    margin-right: 8px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}


.orderbutton > a{
    width: 50%;
    background-color: orange;
    min-width: 40Px;
}

.orderbutton > .img{
    background: rgba(0,0,0,.1);
}

.productImage{
    max-height: 200px;
    display: flex;
    justify-content: start;
    font-size: 1.25rem;
    width: 245px;
}



h3{
    font-weight: normal;
    margin: 0 0 .3em;
    font-size: 1.4em;
    line-height: 1.15;
}

.prodTitle_4{
    color: black;
    font-size: .81rem;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-family: sans-serif;
    background: none;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

li{
    display: list-item;
}

.prod_discriminator{
    color: #999999;
    font-size: 13px;
    padding: 0;
}

.prodDescription{
    overflow: hidden;
    display: inline-block;
    white-space: normal;
    line-height: 1.25;
    font-size: 11px;
    max-height: 15px;
    margin: 12px 0;
}

.justify-content-between{
    justify-content: space-between;!important;
}

.product_details{
    border: 1px solid gray;

}

.productPrice{
    display: inline-block;
    color: green;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: auto;
}

.prodExtraList{
    display: none;
}


.buttoiconMandje{
    background: #27ae60;
    border-radius: 6px;
    min-width: 40px;
    height: 40px;
    font-size: 1.4em;
    margin-right: 8px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



@media screen and (max-width: 700px) {
    .filter{
        overflow: hidden;
        opacity: 0;
        position: absolute;
    }
    .boeken{
        display: flex;
        flex-wrap: nowrap;
        margin-right: -15px;
        margin-left: -15px;
        background-color: fuchsia;
        flex-direction: column;
        max-width: 300px;
    }
    .img{
        flex-grow: 1;
    }
}