@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: PT Sans;
}
body{
    background-color: #303032;
    display: grid;

}
main{
    display: flex;
    background-color: white;
}


.nav{
    background: black;
    color: white;
    height: auto;
    font-family: sans-serif;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.nav-title{
    max-width:400px ;
    display: flex;
    padding: 16px 40px;
    text-align: center;
}
.nav-title img{
    width: 100%;
}
.nav-title h1{
    max-width: 100%;
}

.searchArea{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    height: 35px;
    padding: 10px;

}

#searchBar{
    flex-wrap: wrap;
    color: black;
}

form > button{
    align-items: flex-end;
}
/********WINKELMAND*****/
#winkelmandje span{
    z-index: 1;
    margin-left: -30px;
    border-radius: 10px;
    background-color: lightblue;
    font-size: 16px;
    vertical-align: top;
}
/********/
#winkelmandje > img{
    background: red;
}
#login{
    display: flex;
}
#dropdown-content{
    display: none;
}
#dropdown{
    padding-right: 10px;
}

.nav-menu{
    width: 70%;
    display: flex;
}

.nav-menu ul{
    display: flex;
    justify-content: flex-end;
}

.nav-menu ul li{
    padding: 10px 20px;
    color: #ffffff;
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;
}
.nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.nav-menu ul li:hover{
    color: #fff;
    font-weight: bold;
}

/*--------------NAVGATIE TOT HIER----------------*/

main{
    background-color: #f7f7f6;
    display: flex;
    flex-direction: column;
}
.titel{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 2em;
    font-weight: normal;
}
.container2{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 20px;

    margin-bottom: 20px;
}

.naamproduct{
    text-align: center;
}

.prodBeschrijving{
    padding-top: 8px;
}
textarea{
    height: 200px;
}
.container2{
    border-radius: 3px 3px 0 0;
    padding: 20px;
    min-width: 320px;
    border-bottom: 5px solid #f7f7f6;


}

.titel2{
    padding-bottom: 5px;
    font-size: 13px;
}
.container:not(:first-child) { padding-top: 0px; }

.tussentitel{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-bottom: 15px;
}
.form-label{
    padding-bottom: 3px;
}
input{
    width: 300px;
}

.additional-label{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #667e9c;
}
.titelForm{
    display: flex;
    flex-direction: column;
}

.prodBeschrijving{
    display: flex;
    flex-direction: column;;
}

.confirm{
    display: flex;
    justify-content: center;
    background-color: white;
    height: auto;
    width: 320px;
    padding: 20px;
}












/*************************FOOTER********************/

footer-container{
    display: flex;
    flex-direction: column;
    height: auto;
}

.footer-container li{
    cursor: hand;
    list-style-type: none;
}

.footer-container a{
    text-decoration: none;
    color: black;
}

.footer-container a:hover{
    text-decoration: underline;
}

/* --- footer content --- */

.footer-content {
    display: flex;
    flex-direction: row;
    height: auto;
    font-size: 12px;
    background-color:lightgray;
    justify-content: space-around;
}

/* --- Klanten service --- */

.footer-klantenservice{

}

/* --- Over ons --- */

.footer-about{

}

/* --- Sponsers --- */

.footer-sponsors{

}

/* --- Betaalwijze --- */

.footer-betaalwijzen{

}

.footer-betaalwijzen img{
    width: 40px;
    height: 25px;
}

.footer-betaalwijzen ul li:nth-child(n+2){
    display: inline-block;

}

/* --- Leveranciers --- */

.footer-leveranciers{
    float: right;
    display: inline;
    margin-right: 40px;

}

.footer-leveranciers ul li:nth-child(n+2){
    display: inline-block;
}

.footer-leveranciers img{
    width: 40px;
    height: 25px;
}

/* ---- footer bottom ----*/

.footer-bottom{
    display: flex;
    flex-direction: row;
    background-color: white;
    font-size: 11px;
    justify-content: center;
    height: auto;

}

.logoinfooter{
    display: flex;
    flex-direction: row;
}

.logoinfooter img{
    width: 150px;
    height: auto;
}

.footerbottomgegevens{
    display: flex;
}

.footerbottomgegevens li{
    display: inline-block;
}

.footerbottomlijst{
    height: auto;
}

.footer-container h4 {
    font-family: 'The Girl Next Door',sans-serif;
    font-weight: bold;
}










@media only screen and (max-width: 1200px) {
    .nav-title{
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    .nav{
        display: flex;
        flex-direction: column;
    }
    .nav-title img{
        max-width: 90%;
        height: auto;
    }

    .nav ul li a {
        font-size: 23px;
    }
}
@media only screen and (max-width: 950px) {
    .nav-menu{
        width: auto;
    }

    #login{
        order:1;
    }

    .nav-title{
        order: 2;
    }
    .nav-menu{
        order: 3;
    }


}

@media only screen and (max-width: 600px){
    #searchBar{
        width: 500px;
    }
    .nav-menu{
        align-items: center;
    }
    .nav-menu:nth-child(2){
        flex-direction: column;
    }
    .nav{
        height: 250px;
    }
}





/*style for responsive menu*/

@media screen and (max-width:1520px){
    .nav-menu{
        width: auto;
    }

}

.nav-title, #login{
    padding-right: 1px;
}



@media screen and (max-width: 700px) {
    .nav ul li a {
        font-size: 19px;
    }

    #login{
        margin-left: 80%;
    }
    .nav-title{

    }

}