@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: PT Sans;
}
main{
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.nav{
    background: black;
    color: white;
    height: auto;
    font-family: sans-serif;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.nav-title{
    max-width:400px ;
    display: flex;
    padding: 16px 40px;
    text-align: center;
}
.nav-title img{
    width: 100%;
}
.nav-title h1{
    max-width: 100%;
}

.searchArea{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    height: 35px;
    padding: 10px;

}

#searchBar{
    flex-wrap: wrap;
    color: black;
}

form > button{
    align-items: flex-end;
}
/********WINKELMAND*****/
#winkelmandje span{
    z-index: 1;
    margin-left: -30px;
    border-radius: 10px;
    background-color: lightblue;
    font-size: 16px;
    vertical-align: top;
}
/********/
#winkelmandje > img{
    background: red;
}
#login{
    display: flex;
}
#dropdown-content{
    display: none;
}
#dropdown{
    padding-right: 10px;
}

.nav-menu{
    width: 70%;
    display: flex;
}

.nav-menu ul{
    display: flex;
    justify-content: flex-end;
}

.nav-menu ul li{
    padding: 10px 20px;
    color: #ffffff;
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;
}
.nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.nav-menu ul li:hover{
    color: #fff;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    .nav-title{
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    .nav{
        display: flex;
        flex-direction: column;
    }
    .nav-title img{
        max-width: 90%;
        height: auto;
    }

    .nav ul li a {
        font-size: 23px;
    }
}
@media only screen and (max-width: 950px) {
    .nav-menu{
        width: auto;
    }

    #login{
        order:1;
    }

    .nav-title{
        order: 2;
    }
    .nav-menu{
        order: 3;
    }


}






.container-raadplegen{
    display: flex;
    flex-direction: column;
    width: 650px;
    height: auto;
    margin: auto;
    background: white;
    border: 2px #f34927 solid;
    border-radius: 30px;
    font-family: 'The Girl Next Door',sans-serif;
    font-weight: bold;
    opacity: 90%;
    padding: 1%;
    margin-bottom: 2%;
}

@media screen and (max-width: 600px) {
    .container-raadplegen{
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .container-raadplegen div {
        width: 100%;
    }

        #searchBar{
            width: 500px;
        }
        .nav-menu{
            align-items: center;
        }
        .nav-menu:nth-child(2){
            flex-direction: column;
        }
        .nav{
            height: 250px;
        }

}