*{
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.formulier{
    display: flex;
    flex-direction: column;
    width: 650px;
    height: auto;
    margin: auto;
    background: white;
    border: 2px #f34927 solid;
    border-radius: 30px;
    font-family: 'The Girl Next Door',sans-serif;
    font-weight: bold;
    opacity: 90%;
    padding: 1%;
    margin-bottom: 2%;
}

/*
.formulier input:hover,.formulier input:hover {
    box-shadow: 0 0 2px 2px rgb(255, 51, 119);
}*/

.formulier label {
    width: 25%;
    min-width: 156px;
    display: inline-block;
}

.formulier input{
    width: 25%;
    min-width: 136px;
    display: inline-block;
}

.formulier h1 {
    text-align: center;
}

.registratie-namen{
    display: flex;
    justify-content: left;
}

.email{
    display: inline-block;
    width: 50%;
}

.birthdate{
    width: 50%;
    min-width: 136px;
}
#birthdate{
    width: 25%;
    min-width: 136px;
}
/* --- wachtwoorden --- */
.wachtwoorden {
    display: flex;
    flex-direction: row;
}

/*
.wachtwoord1{
    width: 25%;
}

.wachtwoord2{
    width: 25%;
}

.col-md-6 {
    width: 25%;
}
*/

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -17%;
    position: absolute;
    top: 59px;
    z-index: 2;

}
.form-group{
    display: flex;
    flex-direction: row;
    width: 50%;
    position: relative;
}

.field-icon2 {
    float: right;
    margin-left: -25px;
    margin-top: -17%;
    position: absolute;
    top: 59px;
    z-index: 2;
}

.form-group2{
    display: flex;
    flex-direction: row;
    width: 50%;
    position: relative;
}

#password-field, #password-field2{
    margin-left: 8px ;
}


/* --- onthoud --- */

.onthoud{
    display: flex;
    justify-content: center;
}
#onthoud{
    text-align: center;
    min-width: auto;
    width: 5%;
    margin-top: 8px;
    margin-bottom: 5px;
}
#onthoudLabel{
    min-width: auto;
    width: auto;
}
.voorwaarden{
    text-align: center;
}

.knoppen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;

    border-radius: 30px;
}

button:hover {
    opacity:80%;
}

.bevestig{
    width: 90%;

}
.signupbtn{
    background-color: #4CAF50;
    width: 90%;
    cursor: pointer;
}

.annuleer{
    width: 90%;
}
.cancelbtn {
    width: 90%;
    background-color: #f44336;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .formulier {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .wachtwoorden {
        display: flex;
        flex-direction: column;
    }
    .field-icon {
        margin-top: -53px;
    }
    .field-icon2 {
        margin-top: -53px;
    }

}

