@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: PT Sans;
}
body{
    background-color: #303032;
    display: grid;

}
main{
    display: flex;
    background-color: white;
}


.nav{
    background: black;
    color: white;
    height: auto;
    font-family: sans-serif;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.nav-title{
    max-width:400px ;
    display: flex;
    padding: 16px 40px;
    text-align: center;
}
.nav-title img{
    width: 100%;
}
.nav-title h1{
    max-width: 100%;
}

.searchArea{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    height: 35px;
    padding: 10px;

}

#searchBar{
    flex-wrap: wrap;
    color: black;
}

form > button{
    align-items: flex-end;
}
/********WINKELMAND*****/
#winkelmandje span{
    z-index: 1;
    margin-left: -30px;
    border-radius: 10px;
    background-color: lightblue;
    font-size: 16px;
    vertical-align: top;
}
/********/
#winkelmandje > img{
    background: red;
}
#login{
    display: flex;
}
#dropdown-content{
    display: none;
}
#dropdown{
    padding-right: 10px;
}

.nav-menu{
    width: 70%;
    display: flex;
}

.nav-menu ul{
    display: flex;
    justify-content: flex-end;
}

.nav-menu ul li{
    padding: 10px 20px;
    color: #ffffff;
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;
}
.nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.nav-menu ul li:hover{
    color: #fff;
    font-weight: bold;
}

/*--------------NAVGATIE TOT HIER----------------*/

.container {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 60px 0;
}

.prijs{
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: rgba(243, 73, 39, 0.67);
}

b{
    font-weight: 600;
    padding-left: 7px;
}

.cards{
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
}

.card{
    grid-column-end: span 4;
    display: grid;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

.card:hover{
    transform:translateY(-7px);
}

.cardImage-container{
    width: 100%;
    padding-top: 56.25%;
    overflow:hidden;
    position: relative;
}

.cardImage-container img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardContent{
    padding: 20px;
    background-color: wheat;
}

.cardTitel{
    font-family: 'Montserrat';
    margin-bottom: 20px;
    font-size: 20px;
    color: black;
    font-weight: 500;
}

.cardInfo{
    display: flex;
    align-self: end;
    align-items: center;
}

.cardPlay{
    margin-left: auto;
    padding: 5px 20px;
    background: rgba(243, 73, 39, 0.67);
    border-radius: 20px;

}

@media only screen and (max-width: 1000px) {
    .card{
        grid-column-end: span 6;
    }
}
@media(min-width:700px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .wrapper > *{
        padding:2em;
    }

    .company-info h3, .company-info ul, .brand{
        text-align: left;
    }
    .Request > textarea
    {
        grid-column: controls;
        grid-row: auto;
        border: 0;
    }
}



/*FILTER*/
.filterTitels{
    border-bottom: 1px solid #e6ecef;
    font-size: 20px;
    font-family: PT Sans;
    font-weight: bold;
}

.filter > .filterListItem > p{
    text-decoration:none;
    text-align: left;
}
.containerchk {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 9px;
    cursor: pointer;
}

.containerchk input {
    position: absolute;
    vertical-align: middle;
}

.categorieList{
    text-align: left;
    padding: 10px 0 10px 10px;
    list-style: none;
}
.categorieList > li{
    padding-top: 10px;
    padding-bottom: 5px;
}

.filter{
    background-color: white;
    list-style: none;
    padding-left:15px;
    padding-right: 15px;
    width: 300px;
    margin-top: 40px;
}




@media only screen and (max-width: 700px) {
    .container{
        grid-gap: 20px;
    }
    .card{
        grid-column-end: span 12;
    }


}

@media only screen and (max-width: 1200px) {
    .nav-title{
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    .nav{
        display: flex;
        flex-direction: column;
    }
    .nav-title img{
        max-width: 90%;
        height: auto;
    }

    .nav ul li a {
        font-size: 23px;
    }
}
@media only screen and (max-width: 950px) {
    .nav-menu{
        width: auto;
    }

    #login{
        order:1;
    }

    .nav-title{
        order: 2;
    }
    .nav-menu{
        order: 3;
    }


}

@media only screen and (max-width: 600px) {
    .container{
        grid-template-columns: 10px repeat(6, 1fr) 10px;
        grid-gap: 10px;
    }
    .prijs {
        font-size: 20px;
    }

    nav div{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        grid-column: 1 / 3;
        padding: 14px;
    }

    .cards{
        grid-column: 2 / span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }
    .card{
        grid-column-end: span 6;
    }

    .filterTitels{
        color: #aa381e;
    }

        #searchBar{
            width: 500px;
        }
        .nav-menu{
            align-items: center;
        }
        .nav-menu:nth-child(2){
            flex-direction: column;
        }
        .nav{
            height: 250px;
        }


}





/*style for responsive menu*/

@media screen and (max-width:1520px){
    .nav-menu{
        width: auto;
    }

}

.nav-title, #login{
    padding-right: 1px;
}



@media screen and (max-width: 700px) {
    .filter {
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 10px;
        display: flex;
    }

    .nav ul li a {
        font-size: 19px;
    }


    main{
        flex-direction: column;
    }
    div.categorieList {margin-left: 0;}
    .categorieList{
        opacity: 0;
        position: absolute;
    }
    .container{
        padding: 5px;
    }
    .filterListItem{
        padding: 7px 12px;
        border: 1px solid #e6ecef;
        margin: 0 8px 8px 0px;
    }
    .filter > .filterListItem > p {
        text-decoration: none;
        text-align: center;
        border:none;
    }

    #login{
        margin-left: 80%;
    }
    .nav-title{

    }

}

@media screen and (max-width: 400px) {
    .filter li {
        text-align: center;
        float: none;
    }
    main{
        flex-direction: column;
    }
}