

@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: PT Sans;
    /*
    color: #ffffff;
    */
}

.nav{
    background: black;
    color: white;
    height: auto;
    font-family: sans-serif;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.nav-title{
    max-width:400px ;
    display: flex;
    padding: 16px 40px;
    text-align: center;
}
.nav-title img{
    width: 100%;
}
.nav-title h1{
    max-width: 100%;
}

.searchArea{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    height: 35px;
    padding: 10px;

}

#searchBar{
    flex-wrap: wrap;
    color: black;
}

form > button{
    align-items: flex-end;
}
/********WINKELMAND*****/
#winkelmandje span{
    z-index: 1;
    margin-left: -30px;
    border-radius: 10px;
    background-color: lightblue;
    font-size: 16px;
    vertical-align: top;
}
/********/
#winkelmandje > img{
    background: red;
    color: black;
}
#login{
    display: flex;
}
#dropdown-content{
    display: none;
}
#dropdown{
    padding-right: 10px;
}

.nav-menu{
    width: 70%;
    display: flex;
}

.nav-menu ul{
    display: flex;
    justify-content: flex-end;
}

.nav-menu ul li{
    padding: 10px 20px;
    /*
    color: #ffffff;
    */
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;
}
.nav ul li a {
    text-decoration: none;
    /*
    color: #ffffff;
    */
}

.nav-menu ul li:hover{
    /*
    color: #fff;
    */
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    .nav-title{
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    .nav{
        display: flex;
        flex-direction: column;
    }
    .nav-title img{
        max-width: 90%;
        height: auto;
    }

    .nav ul li a {
        font-size: 23px;
    }
}

@media only screen and (max-width: 600px){
    #searchBar{
        width: 500px;
    }
    .nav-menu{
        align-items: center;
    }
    .nav-menu:nth-child(2){
        flex-direction: column;
    }
    .nav{
        height: 250px;
    }
}
@media only screen and (max-width: 950px) {
    .nav-menu{
        width: auto;
    }

    #login{
        order:1;
    }

    .nav-title{
        order: 2;
    }
    .nav-menu{
        order: 3;
    }


}
/***************NAV TOT HIER***********/






/* winkelmand */

.winkelmand {
    width: 600px;
    height: auto;
    margin: 80px auto;
    background: white;
    border: 2px #f34927 solid;
    border-radius: 30px;
    font-family: 'The Girl Next Door',sans-serif;
    font-weight: bold;
    opacity: 90%;
}

.winkelmand-body li{
    display: inline;
    /*box-shadow: 0 0 2px 1px rgba(87, 106, 193, 0.65);*/
}

.winkelmand p{
    font-size: 14px;
    text-align: center;
}

.item {
    padding: 20px 30px;
    height: 120px;
    display: flex; /*Je container geef je display:flex*/
    flex-direction: row; /*Standaard is de direction al row. Items komen van links naar rechts te staan*/
    justify-content: space-evenly; /*Hoe moet de plaats die elementen hebben binnen deze container verdeeld worden over de kinderen*/
    align-items: center;

}

/* Title */

.title {
    text-align: center;
}

/* verwijder selecteer */

.verwijder-selecteer{
    width: 14%;
}


/* foto product */

.image img{
    width: 50px;
    height: 30px;
}

.image {
    /*float: left;
    margin-left: 25px;*/
    width: auto;
    max-width: 50px;
}

/* product omschrijving */

.description{
    /*  float: left;
      margin-left: 25px;*/
    width:40%;

}

/* hoeveelheid */

.hoeveelheid {
    /*float: left;
    margin-left: 25px;*/
    width: 25%;
}

.total-price {
    /*float: right;*/
    width: auto;
    font-family: sans-serif, Arial;
}

.item-aantal {
    width: 10%;
    /*border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;*/
}


/* delete button */

.myButton {
    background-color:#d0451b;
    border-radius:23px;
    border:1px solid #942911;
    display:inline-block;
    cursor:pointer;
    /*
    color:#ffffff;
    */
    font-family:Arial;
    font-size:12px;
    padding:4px 8px;
    text-decoration:none;
}
.myButton:hover {
    /*
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    */
    background-color:darkred;
}

/* + en - knop om aantal te wijzigen */

.aantalChange {
    background-color:#c0c0c0;
    border-radius:23px;
    border:1px solid #c0c0c0;
    display:inline-block;
    cursor:pointer;
    /*
    color:#ffffff;
    */
    font-family:Arial;
    font-size:12px;
    padding:4px 8px;
    text-decoration:none;
}
.aantalChange:hover {
    background-color: #ABA9A9;
}
.aantalChange:active {
    position: relative;
    top: 1px;
}

/* winkelmand total */

.winkelmand-total li{
    display: flex;
    flex-direction: row;

}

.winkelmand-total li p{
    padding-left: 25px;
    margin-right: 25px;

}

.winkelmand-total {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 0;
}

.lijst-winkelmandtotaal-titel {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.list-test-L li , .list-test-R li{
    height: 35px;
}

.list-test-R {
    font-family: Arial;
}

/* betalen */



.buttonBetalen {
    background-color:#ffa07a;
    border-radius:24px;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:17px;
    padding:12px 17px;
    text-decoration:none;
}

.buttonBetalen:hover {
    box-shadow: 0 0 2px 1px #576ac1;
    /*
    opacity: 75%;
    */
}
.buttonBetalen:active {
    position:relative;
    top:1px;
}

.stijlBetalen{
    display: flex;
    justify-content: flex-end;
    margin: 0 1% 1% 1%;
}
