*{
    box-sizing: border-box;
}
html,
body {

    background-color: #7EC855;
}

.winkelmand {
    width: 600px;
    height: auto;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    font-family: 'The Girl Next Door',sans-serif;
    font-weight: bold;
}

.winkelmand li{
    display: inline;
}

.winkelmand p{
    font-size: 12px;
    text-align: center;
}

.item {
    padding: 20px 30px;
    height: 120px;
    display: flex; /*Je container geef je display:flex*/
    flex-direction: row; /*Standaard is de direction al row. Items komen van links naar rechts te staan*/
    justify-content: space-evenly; /*Hoe moet de plaats die elementen hebben binnen deze container verdeeld worden over de kinderen*/
    align-items: center;

}

/* Title */

.title {
    text-align: center;
}

/* verwijder selecteer */

.verwijder-selecteer{
    width: 14%;
}

/* foto product */

.image img{
    width: 50px;
    height: 30px;
}

.image {
    /*float: left;
    margin-left: 25px;*/
    width: auto;
    max-width: 50px;
}

/* product omschrijving */

.description{
  /*  float: left;
    margin-left: 25px;*/
    width:40%;

}

/* hoeveelheid */

.hoeveelheid {
    /*float: left;
    margin-left: 25px;*/
    width: 25%;
}

.total-price {
    /*float: right;*/
    width: auto;
}

.textbox {
    width: 10%;
    /*border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;*/
}


/* delete button */

.myButton {
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    background-color:#d0451b;
    border-radius:23px;
    border:1px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    padding:4px 8px;
    text-decoration:none;
}
.myButton:hover {
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    background-color:#bc3315;
}

/* + en - knop om aantal te wijzigen */

.aantalChange {
    background-color:#c0c0c0;
    border-radius:23px;
    border:1px solid #c0c0c0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    padding:4px 8px;
    text-decoration:none;
}
.aantalChange:hover {
    background-color: #ABA9A9;
}
.aantalChange:active {
    position:relative;
    top:1px;
}