<template>
    <div class="items-in-cart">
        <div>
            <h1>Winkelmand</h1>
        </div>

        <div>
            <div>
                <ul class="lijstItems">
                    <li v-for="(book,index) in getCart" :key="book.id">
                        <img v-bind:src="require(`@/store/assets/${book.image}`)"/>
                        <h3>{{book.name}}</h3>
                        <h4>{{book.price}}</h4>
                        <input id="totaalperproduct3" :value="book.amount" @change="updateAmount({book,index},$event)"/>
                        <label>{{totalsPerBook[index]}}</label>
                        <input @click="deletethisitem(book)" class="verwijderknop" type="button" value="X"/>
                    </li>
                </ul>
            </div>

            <div class="totaalprijzen">
                <p id="totalprice1">Totale prijs: </p>
                <p id="totalprice2">€ {{total}}</p>
            </div>

            <div class="knoppen">
                <router-link to="/products"><input type="button" value="Annuleer bestelling" @click="emptyCart()"></router-link>
                <input type="button" value="Bevestig bestelling">
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "Cart",
        data(){
            return {
                totalsPerBook: [],
                total: 0
            }
        },
        methods: {
            counterZero() {
                return this.$store.state.addedItems = 0;
            },
            updateAmount(changeParams,event){
                const value = parseInt(event.target.value)

                let newValues = [];
                this.totalsPerBook.forEach((total,i) => {
                    if(i === changeParams.index){
                        newValues.push(this.financial(changeParams.book.price * value))
                    }else{
                        newValues.push(total)
                    }
                })
                this.totalsPerBook = newValues;
                this.recalculateTotal();
                this.$store.commit('updateProductAmount', {book:changeParams.book,newAmount: value})
            },
            recalculateTotal(){
               this.total = this.financial(this.totalsPerBook.reduce((total, num) => { return total+num},0))
            },
            financial(x) {
                return parseFloat(Number.parseFloat(x).toFixed(2));
            },

            deletethisitem(book) {
                this.$store.commit('deleteProductFromCart', {book})
            },
            bookTotal(book){
                return this.$store.state.cart.find((bookInCart) =>{
                    return book.title === bookInCart.title;
                }).total;
            },
            emptyCart() {
                this.$store.commit('deleteCart');
            }
        },
        computed: {
            getCart() {

                return this.$store.state.cart;
            },
            totalAllProducts() {
                let total = 0;

                for (let item of this.$store.state.cart) {
                    total += item.total;
                }

                return total.toFixed(2);
            }
        },
        created() {
            let newTotals = []
            this.$store.state.cart.forEach(book => {
                newTotals.push(book.total)
            })
            this.totalsPerBook = newTotals;
            this.recalculateTotal();
        }
    }
</script>

<style lang="scss" scoped>
    .totaalprijzen {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 30px;
    }

    #totalprice1 {
        width: 144px;
        margin-left: 10px;
    }
    #totalprice2 {
        width: 120px;
        margin-left: 10px;
    }


    .knoppen{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        input {
            margin-left: 10px;
        }
        input:hover {
            cursor: pointer;
            background-color: burlywood;
        }
    }

    .verwijderknop {
        background-color:#c62d1f;
        border-radius:18px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-size:17px;
        font-weight:bold;
        padding:9px 12px;
        text-decoration:none;
        text-align: center;
        height: 38px;
        width: 38px;
    }
    .verwijderknop:hover {
        background-color:#f24437;
    }


    .lijstItems li{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        border-bottom: black 1px solid;
    }

    .lijstItems li img{
        height: 150px;
        width: 100px;
    }

    .items-in-cart {
        width: 1200px;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;

    }

    .items-in-cart h1 {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .tablemand {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .tablemand table {
        background: lightgray;
        padding: 1%;
        margin: auto;
        width: 1200px;

    }

    table, th, td {
        border-collapse: collapse;
    }

    thead {
        font-size: 22px;
        background-color: green;
    }

    .tablemand thead th {
        border: none;
    }

    th, td {
        justify-content: center;
        width: 15%;
    }

    .tablemand td {
        display: table-cell;
        vertical-align: inherit;
        font-weight: bold;
        text-align: center;
    }

    .bookImage {
        height: 144px;
        margin-top: 2px;
    }

    .amountChanges {
        width: 30px;
    }


    .none {
        position: relative;
        left: 10%;
        height: 30px;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
    }


    .tablemand tfoot {
        font-size: 26px;
        background: orange;
        border: none;
    }

    .tablemand tfoot th {
        border: none;

    }

    /*#buy th:last-child{

    }*/

    input {
        background-color: #ffa07a;
        cursor: pointer;
        border: 1px solid black;
        height: 30px;
        width: 140px;
    }
</style>