<template>
    <div class="footervue">
        <div class="footer-content">
            <div class="footer-klantenservice">
                <ul>
                    <li><h4>Klantenservice</h4></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="klantenService.html">Bestellen</a></li>
                    <li><a href="klantenService.html">Betalen</a></li>
                    <li><a href="klantenService.html">Bezorgen</a></li>
                    <li><a href="klantenService.html">Retourneren</a></li>
                    <li><a href="klantenService.html">Veelgestelde vragen</a></li>
                </ul>
            </div>
            <div class="footer-about">
                <ul>
                    <li><h4>Over ons</h4></li>
                    <li><a href="overons.html">Over ons</a></li>
                    <li><a href="">Vacatures</a></li>
                    <li><a href="">Partnerprogramma</a></li>
                    <li><a href="">Nieuws</a></li>

                </ul>
            </div>

            <div class="footer-sponsors">
                <ul>
                    <li><h4>Sponsors</h4></li>
                    <li><a href="https://www.pxl.be/" ><img src="" alt="">PXL</a></li>
                    <li><a href="https://www.kdg.be/"><img src="" alt="">KDG</a></li>
                    <li><a href="https://www.standaardboekhandel.be/"><img src="" alt="">Standaard Boekhandel</a></li>
                </ul>
            </div>


            <div class="footer-betaalwijzen">
                <ul class="footerlijstbetalen">
                    <li><h4>Betaalwijzen</h4></li>
                    <li><a href=""><img class="fotobetaalwijze" src="../../src/ProjectSS/assets/maestro.jpg" alt="maestro" ></a></li>
                    <li><a href=""><img class="fotobetaalwijze" src="../../src/ProjectSS/assets/bancontact.png" alt="bancontact"></a></li>
                    <li><a href=""><img class="fotobetaalwijze" src="../../src/ProjectSS/assets/visa.png" alt="visa"></a></li>
                    <li><a href=""><img class="fotobetaalwijze" src="../../src/ProjectSS/assets/mastercard.png" alt="mastercard"></a></li>
                    <li><a href=""><img class="fotobetaalwijze" src="../../src/ProjectSS/assets/paypal.jpg" alt="paypal"></a></li>
                </ul>
            </div>

            <div class="footer-leveranciers">
                <ul>
                    <li><h4>Wij versturen met</h4></li>
                    <li><a href=""><img src="../../src/ProjectSS/assets/dhl.jpeg" alt="DHL"></a></li>
                    <li><a href=""><img src="../../src/ProjectSS/assets/bpost.png" alt="Bpost"></a></li>
                    <li><a href=""><img src="../../src/ProjectSS/assets/ups.png" alt="Ups"></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="logoinfooter">
                <img src="../../src/ProjectSS/assets/S&Swit.png" alt="">
            </div>
            <div class="footerbottomgegevens">
                <ul class="footerbottomlijst">
                    <li><p>&copy; schoolboekENspullen.be | Designed by MYTH</p></li> |
                    <li><a href="">Privacy statement</a></li> |
                    <li><a href="">Gegevens verwerking </a></li> |
                    <li><a href="klantenService.html">Algemene voorwaarden</a></li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Footer",
    }
</script>

<style scoped>
    footer{
        margin-top: 2%;
        color: #000000;
    }

    .footer-content{
        display: flex;
        height: auto;
        color: black;
        flex-direction: row;
        font-size: 14px;
        justify-content: space-evenly;
        background-color:lightgray;
    }

    .footer-content li{
        cursor: hand;
        list-style-type: none;
    }

    .footer-content a{
        text-decoration: none;
        color: black;
    }

    .footer-content a:hover{
        text-decoration: underline;
        font-weight: bold;
    }

    footer h4 {
        font-family: 'The Girl Next Door',sans-serif;
        font-weight: bold;
        font-size: 15px;
    }


    /* --- Klanten service --- */

    .footer-klantenservice{

    }

    /* --- Over ons --- */

    .footer-about{

    }

    /* --- Sponsers --- */

    .footer-sponsors{

    }

    /* --- Betaalwijze --- */

    .footer-betaalwijzen{

    }

    .footer-betaalwijzen img{
        width: 40px;
        height: 25px;
    }

    .footer-betaalwijzen ul li:nth-child(n+2){
        display: inline-block;

    }

    /* --- Leveranciers --- */

    .footer-leveranciers{
        float: right;
        display: inline;
        margin-right: 40px;

    }

    .footer-leveranciers ul li:nth-child(n+2){
        display: inline-block;
    }

    .footer-leveranciers img{
        width: 40px;
        height: 25px;
    }

    /* ---- footer bottom ----*/

    .footer-bottom{
        display: flex;
        flex-direction: row;
        background-color: white;
        font-size: 13px;
        justify-content: center;
        height: auto;

    }

    .logoinfooter{
        display: flex;
        flex-direction: row;
    }

    .logoinfooter img{
        width: 150px;
        height: 50px;

    }

    .footerbottomgegevens{
        display: flex;
    }

    .footerbottomgegevens li{
        display: inline-block;
    }

    .footerbottomlijst{
        height: auto;
        font-weight: bold;
    }

    .footerbottomlijst a{
        text-decoration: none;
        color: black;
        font-weight: normal;
    }

    .footerbottomlijst a:hover{
        text-decoration:underline;
        font-weight: bold;
    }
</style>