<template>
    <div class="header-vue">
        <div class="nav">
            <div class="nav-title">
                <img src="../../src/ProjectSS/assets/S&S.png" alt="logo">
            </div>
            <div class="nav-menu">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><router-link to="/products"><a href="producten.html">Product</a></router-link></li>
                    <li><a href="overons.html">Over ons</a></li>
                    <li><a href="Contact.html">Contact</a></li>
                </ul>
                <form class="searchArea">
                    <input id="searchBar" type="text"  placeholder="Search.." name="Search...">
                    <button type="submit" ><img src="../../src/ProjectSS/assets/SearchIcon.svg" alt="ImageSearch"></button>
                </form>
            </div>
            <div class="carticon">
                <router-link to="/cart">
                    <input id="header-winkelmand" type="button"  />
                    <span id="spanhoeveelheid" >{{countAddedItems}}</span>
                    <!--v-model:value="countAddedItems"-->
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Header",
        computed: {
            countAddedItems() {
                return this.$store.state.cart.length;
            }
        }
    }

</script>

<style lang="scss" scoped>

    .carticon {
        width: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 30px;

    }

    #header-winkelmand{
        border: none;
        width: 50px;
        height: 50px;
        background-color: black;
        background-image: url("../store/assets/cart-32.png");
        background-size: cover;
        outline: 0;
    }

    #spanhoeveelheid{
        color: red;
        font-size: 25px;
    }

    #header-winkelmand:hover{
        cursor: pointer;
    }

    .nav{
        background: black;
        color: white;
        height: auto;
        font-family: sans-serif;
        display: flex;
        flex-wrap:wrap;
        align-items: center;
    }

    .nav-title{
        max-width:400px ;
        display: flex;
        padding: 16px 40px;
        text-align: center;
    }
    .nav-title img{
        width: 100%;
        cursor: pointer;
    }


    /* width og > 70% */
    .nav-menu{
        margin: auto;
        margin-left: 5%;
        width: auto;
        display: flex;
        justify-content: flex-end;
    }

    .nav-menu ul{
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        margin-right: 30px;
    }

    .nav-menu ul li{
        padding: 10px 20px;
        color: #ffffff;
        font-size: 20px;
        list-style-type:none;
        cursor: pointer;
        text-decoration: none;
    }
    .nav-menu ul li a{
        text-decoration: none;
        color: #FFFFFF;
    }

    .nav-menu ul li:hover{
        font-weight: bold;
    }

    .searchArea{
        position: absolute;
        transform:translate(10px) ;
        display: flex;
        flex-wrap: wrap;
        background: #FFFFFF;
        border-radius: 40px;
        width: 50px;
        padding: 5px;
        padding-left: 10px;
        margin-left: 1%;

    }
    .searchArea #searchBar{
        flex-wrap: wrap;
        text-align: center;
        color: black;
        border: none;
        width: 0;
        background: #FFFFFF;
        font-size: 17px;
        display: none;
    }

    .searchArea button, #searchBar, #closeButton img {
        outline: none;
    }
    .searchArea button{
        width: 50px;
        padding: 5px;
        border: none;
        background: none;
        cursor: pointer;
    }
    .searchArea:hover{
        width: 350px;
        transform: translate(310px);
    }
    .searchArea:hover #searchBar{
        width: 275px;
        display: block;
    }



</style>