<template>
    <div class="product-page">
        <div class="product-items">
            <ul>
                <li v-for="book in getBooks" v-bind:key="book.name">
                    <ProductItems v-bind:book="book"/>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import ProductItems from "../views/ProductItems"

    export default {
        name: "Products",
        components: {ProductItems},
        computed:{
            getBooks() {
                return this.$store.state.books;
            }
        },
    }
</script>

<style lang="scss" scoped>

    .product-page {
        display: flex;
    }

    .product-items {
        display: flex;
        flex-wrap: wrap;
        width: 250px;
        margin: 0 auto;
    }


</style>