<template>
    <div class="producten">
        <img v-bind:src="require(`@/store/assets/${book.image}`)"/>
        <h3>{{book.name}}</h3>
        <p>€ {{book.price}}</p>
        <input type="button" value="add to basket" @click="addToCart()">
    </div>
</template>

<script>
    export default {
        name: "ProductItems",
        props:{book: Object},
        methods: {
            addToCart() {
                this.$store.commit('addProductToCart', {book:this.book})
            }
        }
    }
</script>

<style lang="scss" scoped>

    .producten {
        color: black;
        height: auto;
        width: 200px;
        background-color: wheat;
        margin: 20px;

        ul {
            display: inline-block;
        }

        ul li {
            color: black;
            list-style: none;
        }

        img {
            height: 300px;
            width: 200px;
        }

        input {
            background: rgba(243, 73, 39, 0.67);
        }
    }

</style>