main{
    display: flex;
    justify-content: center;
    margin: auto;

}
main div{
    width: 35%;
}
main h1{
    font-size: 44px;
}
main img{
    float: right;
    margin-top: -3%;
    cursor: pointer;
}

main form{
    display: inline;
    font-family:  sans-serif;
    font-size: 24px;
}
form input{
    font-size: 18px;
    width: 60%;
    margin-bottom: 2%;
}

form #voornaam{
    margin-left: 28px;
}

form #achternaam{
    margin-left: 9px;
}

form #birthdate{
    margin-left: 50px;
}

form #email{
    margin-left: 74px;
}

form #password{
    margin-left: 31px;
}

form .buttons{
    display: flex;
    right: 0;
    justify-content: center;
    margin: auto;
    width: 240px;
}
form #cancel{
    margin-right: 20px;
}

footer{
    display: none;
}
@media screen and (max-width: 1100px){
    .formulier-form {
        width: 450px;
    }
    form #voornaam{
        margin-left: 0px;
    }

    form #achternaam{
        margin-left: 0px;
    }

    form #birthdate{
        margin-left: 0px;
    }

    form #email{
        margin-left: 0px;
    }

    form #password{
        margin-left: 0px;
    }
}

@media screen and (max-width: 600px){
    .formulier-form {
        width: 600px;
        justify-content: space-evenly;
    }
    form #voornaam{
        margin-left: 0px;
    }

    form #achternaam{
        margin-left: 0px;
    }

    form #birthdate{
        margin-left: 0px;
    }

    form #email{
        margin-left: 0px;
    }

    form #password{
        margin-left: 0px;
    }
}

@media screen and (max-width: 450px){
    .formulier-form {
        width: 450px;
    }
    form #voornaam{
        margin-left: 0px;
    }

    form #achternaam{
        margin-left: 0px;
    }

    form #birthdate{
        margin-left: 0px;
    }

    form #email{
        margin-left: 0px;
    }

    form #password{
        margin-left: 0px;
    }
}