main{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
main p {
    font-weight: bolder;
    font-size: 30px;
}
.containerbestelling{
    display: flex;
    flex-direction: column;
    margin: 20px 325px 0 325px;

}

.container{
    border-bottom: 1px solid #e6ecef;
    margin-bottom: 10px;
    padding-bottom: 25px;
    max-width: 500px;
}
.bestellingdata{
    display: flex;
    flex-direction: row;
}
.prijs{
    display: flex;
    flex-direction: row;
    padding-left: 25px;
}
.bestelling{
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    background-color: #f3f3f3;
}
.besteldata{
    margin-left: 5px;
}
.bestelnr{
    padding-left: 4px ;
    font-weight: bold;
}
.subcontainer{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.subsubcontainer{
    display: flex;
    flex-direction: column;
}

.datumenprijs{
    display: flex;
    flex-direction: row;
}
.prodfotos{
    display: flex;
    flex-direction: row;
    padding: 10px;
    overflow: auto;
}
.prodfotos > img{
    max-width: 80px;
    margin: 7px;
}
/* -------------------- */

.containerbestelling {
    width: 1200px;
    background-color: lightgray;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    padding: 15px;
}

.containerbestelling h1 {
    text-align: center;
}

.container11 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    align-items: center;
    border-bottom: black 2px solid;
}

#addToBasket {
    height: 50px;
    width: 50px;
    background-color: rgba(243, 73, 39, 0.67);
    border-radius: 24px;
}

#addToBasket:hover {
    cursor: pointer;
    opacity: 80%;
}
.bookImage{
    height: 150px;
    width: 100px;
    margin-top: 2px;
}

.dateOrdered {
    font-size: 20px;
    font-weight: bold;
}
.titletitle h2{
    font-size: 20px;
    font-weight: bold;
}
.aantalkeerbesteld {
    font-size: 20px;
    font-weight: bold;
}
.price {
    font-size: 20px;
    font-weight: bold;
}
.knoppen {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 150px;
}

@media screen and (max-width: 750px){
    .containerbestelling {
        width: 100%;
    }
}

@media screen and (max-width: 550px){

    .container11 {
        flex-direction: column;
    }
}





