
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contactInfo{
    display: flex;
    justify-content: center;
    margin: auto;
    align-self: end;
    align-items: normal;
    padding-right: 3%;
}
.info{
    margin-right: 60px;
    font-size: 24px;
}

.formulier{
    justify-content: center;
    margin:auto;
    margin-top: 2%;
    background-color: lightgray;
    width: 800px;
    height: 600px;



}
.formulier h1{
    justify-content: center;
    text-align: center;
    margin: auto;
}
.formulier form{
    justify-content: center;
    margin: 6%;
    text-align: center;
}
.formulier label{
    display: inline-block;
    width: 100px;
    box-sizing: border-box;
    text-align: left;
    margin-right: 5px;
    font-size: 20px;
}
.formulier input{
    width: 250px;
}

#submit{
    width: 100px;
    height: 50px;
    font-size: 28px;
}


/* iframe > height must be 200px smaller the width*/
iframe {
    width: 800px;
    height: 600px;
    border: 0;
}

@media screen and (max-width: 1260px) {
    .contactInfo {
        display: inline;
    }

}
@media screen and (max-width: 840px) {
    iframe{
        width: auto;
    }
    .formulier {
        width: auto;
    }
    .formulier input {
        width: auto ;
    }
    #vraag {
        width: 300px;
    }
}

@media screen and (max-width: 650px) {
    main{
        width: 100%;
        flex-direction: column;
    }
    iframe{
        width: auto;
    }
    .formulier {
        width: auto;
    }
    .formulier textarea {
        width: auto;
    }
    .formulier input {
        width: auto ;
    }

}