
main{
    background-color: #f7f7f6;
    display: flex;
    flex-direction: column;
    margin-top: -2%;
}
.titel{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 2em;
    font-weight: normal;
}
.container2{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

#nameEditProduct {
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;

    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 20px;

    margin-bottom: 20px;
}
.prodBeschrijving{
    padding-top: 8px;
}
textarea{
    height: 200px;
}
.container2{
    border-radius: 3px 3px 0 0;
    padding: 20px;
    min-width: 320px;
    border-bottom: 5px solid #f7f7f6;


}

.titel2{
    padding-bottom: 5px;
    font-size: 13px;
}
.container:not(:first-child) { padding-top: 0; }

.tussentitel{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-bottom: 15px;
}
.form-label{
    padding-bottom: 3px;
}
input{
    width: 300px;
}

.additional-label{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #667e9c;
}
.titelForm{
    display: flex;
    flex-direction: column;
}

.prodBeschrijving{
    display: flex;
    flex-direction: column;;
}
