@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: PT Sans;
}
header{
    margin-bottom: 2%;
}

.nav{
    background: black;
    color: white;
    height: auto;
    font-family: sans-serif;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.nav-title{
    max-width:400px ;
    display: flex;
    padding: 16px 40px;
    text-align: center;
}
.nav-title img{
    width: 100%;
    cursor: pointer;
}


/* width og > 70% */
.nav-menu{
    margin: auto;
    margin-left: 5%;
    width: auto;
    display: flex;
    justify-content: flex-end;
}

.nav-menu ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 30px;
}

.nav-menu ul li{
    padding: 10px 20px;
    color: #ffffff;
    font-size: 20px;
    list-style-type:none;
    cursor: pointer;
    text-decoration: none;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

.nav-menu ul li:hover{
    font-weight: bold;
}



/*Search bar */
/*  .searchArea{
      width: auto;
      display: flex;
      flex-wrap: wrap;
      height: 35px;
      padding-left: 5px;
      margin-top: 5px;
      outline: none;
      opacity: 0;

  }

  .searchArea #searchBar{
      flex-wrap: wrap;
      text-align: center;
      color: black;
      padding-left: 5px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border: none;
      width: 200px;
      background: #f1f1f1;
      font-size: 17px;

  }
  .searchArea button, #searchBar{
      outline: none;
  }
  .searchArea button{
      padding: 5px;
      border-bottom-right-radius:20px ;
      border-top-right-radius: 20px ;
      width: 50px;
      border: none;
  }
  form > button{
      align-items: flex-end;
  }
  */

.searchArea{
    position: absolute;
    transform:translate(10px) ;
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    border-radius: 40px;
    width: 50px;
    padding: 5px;
    padding-left: 10px;
    margin-left: 1%;

}
.searchArea #searchBar{
    flex-wrap: wrap;
    text-align: center;
    color: black;
    border: none;
    width: 0;
    background: #FFFFFF;
    font-size: 17px;
    display: none;
}

.searchArea button, #searchBar, #closeButton img {
    outline: none;
}
.searchArea button{
    width: 50px;
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
}
.searchArea:hover{
    width: 350px;
    transform: translate(310px);
}
.searchArea:hover #searchBar{
    width: 275px;
    display: block;
}


/********WINKELMAND*****/
#login{
    display: flex;
    margin-right: 10%;
}
#winkelmandje span{
    z-index: 1;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: black;
    font-size: 16px;
    vertical-align: top;

}

.dropdown-content{
    z-index: 1;
    position: fixed;
    list-style-type: none;
    background-color: #FFFFFF;
    padding-left: 5px ;
    padding-right: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: none;
}
.dropdown-content li a{
    text-decoration: none;
    color:black;
}
.dropdown{
    padding-right: 15px;
}
.dropdown-content li:hover{
    font-weight: bold;
}

/*.dropdown a:hover ~.dropdown-content{  display: block;}*/


/* login  window*/

.modal{
    z-index: 1;
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    padding-top: 60px;
    color: #FFFFFF;
}

.loginWindow{
    flex-wrap: wrap;
    text-align: center;
    opacity: 90%;
    border-radius: 15px;
    justify-content: center;
    margin: auto;
    z-index: 1;
    width: 450px;/*30%;*/
    border: 2px #f34927 solid;
    background: rgba(49, 50, 49, 0.64);
    padding-bottom: 10px;

}

.loginWindow button{
    cursor: pointer;
}
.loginWindow [id=closeButton]{
    float: right;
    justify-content: right;
    border: none;
    margin-top: 10px;
    margin-right: 10px;
    background: transparent;
}
#closeButton img{
    outline: none;
}

.loginWindow form{
    font-size: 23px;
    margin-top: 13%;
    margin-left: 10%;
    width: 80%;
    text-decoration: none;
}

.loginWindow form input{
    text-align: center;
    font-size: 22px;
    width: 90%;
    margin-bottom: 2%;
    border: 1px black ;
    border-radius: 25px;
    padding: 10px 15px;
    background: transparent;
    color: white;
}


.modal input:focus, .modal button:focus {
    outline: none;
}

#loginButton:hover, #cancelButton:hover, #registeren:hover {
    box-shadow: 0 0 2px 3px rgba(87, 106, 193, 0.65);
}

.loginWindow form input:hover, .loginWindow form input:hover{
    box-shadow: 0 0 2px 2px rgb(255, 51, 119);
}


[id=loginButton]{
    font-size: 20px;
    margin:10%;
    width: 80%;
    padding: 12px 15px;
    font-style:italic;
    background-color: lightsalmon;
    color: black;
    border-radius: 25px;
    border: none;
}

.loginWindow #cancelButton{
    margin-left: 8%;
}
#cancelButton,#registeren{
    background-color: lightsalmon;
    border: 1px red;
    font-size: 18px;
    border-radius: 15px;
    padding: 4px;
    width: 100px;
}

.loginWindow span{
    margin-right: 10%;
    float: right;
}

.loginWindow span a{
    color: #bcbcbc;
    text-decoration: underline;
}

/* ---- Footer ---- */

/* --- footer content --- */

footer{
    margin-top: 2%;
    color: #000000;
}

.footer-content{
    display: flex;
    height: auto;
    color: black;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-evenly;
    background-color:lightgray;
}

.footer-content li{
    cursor: hand;
    list-style-type: none;
}

.footer-content a{
    text-decoration: none;
    color: black;
}

.footer-content a:hover{
    text-decoration: underline;
    font-weight: bold;
}

footer h4 {
    font-family: 'The Girl Next Door',sans-serif;
    font-weight: bold;
    font-size: 15px;
}


/* --- Klanten service --- */

.footer-klantenservice{

}

/* --- Over ons --- */

.footer-about{

}

/* --- Sponsers --- */

.footer-sponsors{

}

/* --- Betaalwijze --- */

.footer-betaalwijzen{

}

.footer-betaalwijzen img{
    width: 40px;
    height: 25px;
}

.footer-betaalwijzen ul li:nth-child(n+2){
    display: inline-block;

}

/* --- Leveranciers --- */

.footer-leveranciers{
    float: right;
    display: inline;
    margin-right: 40px;

}

.footer-leveranciers ul li:nth-child(n+2){
    display: inline-block;
}

.footer-leveranciers img{
    width: 40px;
    height: 25px;
}

/* ---- footer bottom ----*/

.footer-bottom{
    display: flex;
    flex-direction: row;
    background-color: white;
    font-size: 13px;
    justify-content: center;
    height: auto;

}

.logoinfooter{
    display: flex;
    flex-direction: row;
}

.logoinfooter img{
    width: 150px;
    height: 50px;

}

.footerbottomgegevens{
    display: flex;
}

.footerbottomgegevens li{
    display: inline-block;
}

.footerbottomlijst{
    height: auto;
    font-weight: bold;
}

.footerbottomlijst a{
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.footerbottomlijst a:hover{
    text-decoration:underline;
    font-weight: bold;
}





@media screen and (max-width: 1500px) {
    .nav-menu{
        margin-left: 2%;
    }
    #login{
        margin-right: 2%;
    }
}
@media screen and (max-width: 1250px) {

    .nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav-title{
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    .nav-title img{
        max-width: 90%;
        height: auto;
    }
    .nav-menu{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1%;
    }
    .nav-menu ul{
        margin: auto;
    }
    .nav ul li a {
        font-size: 23px;
    }
    .searchArea{
        position: relative;
        width:350px;
        margin: auto;

    }
    .searchArea:hover{
        width:350px;
        transform: translate(10px);
    }
    .searchArea #searchBar{
        width: 275px;
        display: block;
    }

    #login{
        margin: auto;
    }
}

@media screen and (max-width: 650px) {
    .searchArea{
        width: 60%;
    }
    .searchArea #searchBar{
        width: 50%;
        margin:auto;
    }
    .searchArea button{
        width: 10%;
        margin:auto;

    }

    /*
        #openClose{
            display: block;
        }*/
    .footer-content{
        flex-direction: column;
        justify-content: center;
        display: none;
    }
    .footer-content div{
        margin-left: 30%;
        margin-top: 2%;
    }

}
@media screen and (max-width: 450px){
    .nav-menu ul{
        display: inline;
    }
}
