
.slideShowCommercials, .slideShowControls{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2%;
    background-color: black;
    width: 1200px;
    height: 600px;
    overflow: hidden;
}
.slideShowImage{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    transition: background-color 0.6s ease;
}

.slideImage{
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    transition: 0.6s ease;
}
.slideShowControls{
    position:absolute;
    margin-top:0;
    background-color: rgba(255, 255, 255, 0);
}
.sliderButton-container{
    bottom: 10px;
    position: absolute;
    cursor: pointer;

}

.slider-button{
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    margin-right: 5px;
    background-color: rgba(42, 51, 255, 0.33);
}

.prev, .next{
    position: absolute;
    bottom: 20px;
    z-index: 1;
    cursor: pointer;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.8s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/*  rigth  en left zijn gelijk aan de margin van slideShowCommercials  */
.next{
    right: 0;
}
.prev{
    left: 0;
}
.prev:hover, .next:hover {
    background-color: rgba(172, 14, 13, 0.8);
}



/* Best sellers */
.bestSoldBooks{
    margin-left:10%;
    width: 80%;
}

#bestseller h2{
    border-bottom: wheat solid 1px;
    font-size: 25px;
    background-color: white;
    border-bottom: 1px solid wheat;
    text-align: left;
    color: #2c3e50;
    overflow-wrap: break-word;

}

.boekensales{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: center;
    /*overflow: scroll*/
}

.container{
    background-color: wheat;
    border:3px  solid floralwhite ;
    justify-content: space-around;
    border-radius: 20px;
    text-align: center;
    width: 15%;

}

.container {
    display: flex;
    flex-direction: column;
    background-color: wheat;
    border: 2px solid white;

}
.container:hover{
    transform:translateY(-7px);
    cursor: pointer;
    transition: all 0.4s ease 0s;
}
.container h2{
    overflow-wrap: break-word;
}
.prijs p{
    font-size: 17px;
}
.bookcover img{
    max-width: 100%;
    max-height: 100%;
    display: block;

}

.bookcover{
    margin: auto;
    width: 80%;
    border: 5px solid floralwhite;
}

@media screen and (max-width: 1200px ){
    .slideShowCommercials, .slideShowControls{
        width: 600px;
        height: 300px;
    }

}


@media screen and (max-width: 600px){
    .slideShowCommercials, .slideShowControls{
        width: 300px;
        height: 150px;
    }

    #bestseller h2 {
        text-align: center;
    }
    .boekensales{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container{
         width: 60%;
         margin: auto;
     }
}

