footer{
    display: none;
}

main {
    justify-content: center;
    margin: auto;
    width: 80%;
    margin-bottom: 5%;
}

#inhoudOpGave ul li{
    cursor: pointer;
    list-style-type: none;

}

.algemeneVoorwaarden, .bestellen, .bestellen, .betalen, .bezorgen, .retourneren, .veelgesteldeVragen{
    margin-bottom: 3% ;
    background-color: wheat;
}
.algemeneVoorwaarden, .bestellen, .bestellen, .betalen, .bezorgen, .retourneren, .veelgesteldeVragen{

}
.titel{
    font-family: 'The Girl Next Door',sans-serif;
    text-align: left;
    margin-bottom: 2%;
    font-size: 31px;
}

main h2{
    background-color: #ffa07a;
    font-family: 'The Girl Next Door',sans-serif;
    text-align: center;
}

.algemeneVoorwaarden  div {
    padding:2%;
    margin-bottom: 3% ;
    background-color: wheat;
}

.bestellen{
    background-color: wheat;
}
.bestellen p, .betalen ul, .bezorgen p, .retourneren p, .veelgesteldeVragen p{
    padding:2%;
}

.betalen ul{
    list-style-type: none;
}

