main{
    display: flex;
    flex-direction: column;

}

.wieismyth {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.doel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tekstoverons{
    background: rgba(0,0,0,0.7);
    padding: 5%;
    background-color: #FFE4C4;
    padding-top: 1%;
    margin-left: 5%;
    margin-top: 5%;
    width: 500px;
    height: 200px;
}

.tekstdoel{
    background: rgba(0,0,0,0.7);
    padding: 5%;
    background-color: #FFE4C4;
    padding-top: 1%;
    width: 535px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.fototeam img{
    width: 500px;
    height: 400px;
}
.fotodoel{
    margin-left: 5%;
    margin-top: 5%;
}

@media screen and (max-width: 1000px) {
    .fototeam img{
        width: 350px;
        height: 250px;
    }

    }

@media screen and (max-width: 600px) {

    main {
        display: flex;
        flex-direction: column;
    }
    .overons{
        margin: auto;
        padding: 0;
    }
    .fototeam{
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .wieismyth {
        display: flex;
        flex-direction: column;
    }

    .fotodoel img {
        width: 100%;
    }

    .tekstoverons{
        width: 100%;
        justify-content: center;

    }
    .doel{
        flex-direction: column;
    }
    .tekstdoel{
        width: 100%;
    }


}
