* {
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
}

.containerPayment {
    display: flex;
    justify-content: center;
    width: 800px;
    flex-direction: column;
    background-color: lightgray;
    padding: 10px;
    border-radius: 20px;
}

/* WAAR TE LEVEREN */

.leveringPlaats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px solid #aa381e;
}

.leveringPlaats img {
    height: 50px;
    width: 50px;
}

.plaatsEen {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: white;
}

.plaatsTwee {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    background: white;
}

/* AFLEVERADRES */

#afleverAdres {
    border-bottom: 2px solid #aa381e;
}

#afleverAdres img{
    float: right;
    right: 50px;
}

#afleverAdres form {
    display: inline;
    margin: auto;
}

#afleverAdres form input {
    width: 200px;
    margin-bottom: 2%;
}



/* HOE LEVEREN */

.hoeLeveren {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-bottom: 2px solid #aa381e;

}

/* HOE BETALEN */

.betaalWijze {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    border-bottom: 2px solid #aa381e;
}

.betaalWijze div{
    margin-top: 10px;
}

.betaalWijze img {
    height: 35px;
    width: 50px;
}

/* CONFIRM PAYMENt */
.confirmpayment {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    border-bottom: 2px solid #aa381e;
}

#confirmbutton {
    font-size: 20px;
    width: 200px;
    height: 30px;
    background: rgba(243, 73, 39, 0.67);
    border-radius: 25px;
}
#confirmbutton:hover {
    cursor: pointer;
    opacity: 80%;
}

#annulleerbutton {
    font-size: 20px;
    width: 200px;
    height: 30px;
    background: rgba(243, 73, 39, 0.67);
    border-radius: 25px;
}
#annulleerbutton:hover {
    cursor: pointer;
    opacity: 80%;
}

#errmsg
{
    color: red;
}