
main{
    display: flex;
}

.filter{
    background-color: white;
    list-style: none;
    padding-left:15px;
    padding-right: 15px;
    width: 300px;
    margin-top: 40px;
}

#categorie, #taal{
    margin-top: 5px;
    width: 84%;
    height: 30px;
    font-size: 20px;
}

#minPrijs, #maxPrijs{
    margin-top: 5px;
    margin-right:-6px;
    width: 42%;
    height: 30px;
    font-size: 20px;
}


.filter-box h3{
    border-bottom: 1px solid #e6ecef;
    font-size: 20px;
    font-family: PT Sans;
    font-weight: bold;
    text-decoration:none;
    text-align: left;
    margin-bottom: 10px;
}

.filter-box-button{
    margin-top: 10px;
}
.filter-box-button input{
    width: 84%;
}

/**/

.product-Box{
    margin-top: 40px;
    margin-left: 50px;
    width: 90%;
    margin-right: 10%;

}

.books{
    display: inline-block;
    overflow-wrap: normal;
    width: 365px;
    background-color: wheat;
    margin: 1.5%;
}
.books:hover{
    transform:translateY(-7px);
}

.bookImage{
    width: 100%;
    height: 430px;
}
.bookImage:hover{
    cursor: pointer;
}

.bookInfo{
    margin:2%;
    margin-top: 0;
    padding-top: 4%;
}
.titel{
    font-family: 'Montserrat';
    font-size: 20px;
    color: black;
    font-weight: 500;
}

.bookInfoBottom{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-self: end;
    align-items: center;

}
.prijs{
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: rgba(243, 73, 39, 0.67);
    margin-right: 5px;
}

.basketImage{
    margin-left: auto;
    padding: 5px 20px;
    background: rgba(243, 73, 39, 0.67);
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 2%;
}

@media screen and (max-width: 1200px) {
    main {
        display: flex;
        flex-direction: column;
    }
    .filter {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: auto;
    }


}
@media screen and (max-width: 850px) {
    main {
        display: flex;
        flex-direction: column;
    }
    .filter {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: auto;
    }
    .product-Box {
        width: auto;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

}


