
.mainFrame{
    display: flex;
    justify-content: center;
}
.mainFrame div{

}
.mainFrame .imgBook img{
    height: 600px;
    width: auto;  /* 550px  */
    display: inline-block;
    padding: 20px 60px;
    border: 2px solid #F5F5F5;
}

.SideInfo{
    margin-top: 10px;
    margin-left: 15px;
    width: 26%;

}

.tussenLijn{
    border-bottom: 2px solid #F5F5F5;
    width: 100%;
}

#prijsBoek{
    padding: 20px 0;
    font-size: 2em;
    color:  #aa381e;
    font-weight: bold;
    border-bottom: 2px solid #F5F5F5;
    border-top: 4px solid #F5F5F5;
}

.BtnAddWinkelmand{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    max-width: 200px;
    background-color:  #27ae60;
    outline: none;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;

}

.BtnAddWinkelmand:hover {background-color: #3e8e41}

.BtnAddWinkelmand img {
    font-size: 20px;
    padding-right: 11px;
    border-radius: 8px;
}
.BtnAddWinkelmand{
    font-size: 17px;


}
.fiterse{
    padding-top: 9px;
    padding-left: 5px;
}

.lowerFrame{
    margin-top: 3%;
    display: flex;
}
.lowerFrame h2 {
    font-family: 'Kalam', cursive;
    font-size: 27px;
    color: #3b393d;
    font-weight: lighter;
    margin-bottom: 1%;
}




/*************/

#titelBoek{
    padding: 5px;
}


#taal{
    color: #666;
    padding: 5px;

}

#schrijver{
    padding: 5px;
    color: black;
    font-size: 1.1em;
}


.veiligbet{
    padding-top: 9px;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
}
.lock{
    display: flex;
    flex-direction: column;
}
.shopcart{
    display: flex;
    flex-direction: column;
}
.fa-shopping-cart, .fa-lock{
    margin-bottom: 10px;
    margin-right: 1%;
    color: #666666;
}

.fa-shopping-cart{
    color: white;
    transform: scaleX(-1);
}

/*******SPECIFICATIES******/
.specificaties{
    margin-bottom: 10px;
}
.tekstSpec{
    display: flex;
    flex-direction: row;
    margin-top: 14px;
}

.specfoto{
    max-width: 33.3%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    border: 2px solid #F5F5F5;
}
.specfoto > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}
.specLabel{
    color: #999999;
    font-size: 16px;
}
.specList{
    padding: 0 15px;
    list-style: none;
}

ul li {
    color: black;
    margin-top: 3px;
}




@media only screen and (min-width: 1200px) {


    .infoprod{
        margin-bottom: 300px;
    }
    .specificaties{

    }
    .omschrijving{
        text-align: left;
        width: 60%;
        margin-left: 18%;
    }
}
@media only screen and (max-width: 1200px) {

    .mainFrame {
        display: inline;
    }
    .SideInfo {
        margin: auto;
    }
    .imgBook img {
        width: 427px;
    }

}

