footer{
    display: none;
}

.formulier1{
    display: flex;
    flex-direction: column;
    font-family: 'The Girl Next Door',sans-serif;
    width: 45%;
    justify-content: center;
    margin: auto;
    border-radius: 24px;
    background-color: lightgray;
    padding: 20px;
}

.formulier1 h1{
    text-align: center;
    font-size: 44px;
}
.formulier1 p{
    text-align: center;
    font-size: 21px;
    border-bottom: black 2px solid;
}

.formulier1 label{
    width: 160px;
}
.formulier1 input {
    width: 200px;
}



/*.id{
    display: flex;
    flex-direction: column;
    border: 2px #f34927 solid;
    padding: 2%;
    border-radius: 5px;
}
.id p{
    margin-top: 2%;
    font-size: 18px;
    text-align: center;
}

.id input{
    width: 25%;
    min-width: 156px;
}
.id label{
    font-size: 18px;
}

#voornaam{
    margin-left:35px;
    margin-right: 2%;
}
#achternaam{
    margin-left:83px;

}

#birthdate{
    margin-left:7px;

}

#email{
    margin-left:77px;

}



#password-field{
    margin-left:31px;
    margin-right: 2%;
}


#signupbtn, #cancelbtn{
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 30px;
    width: 30%;
    outline: none;
}
#signupbtn:hover, #cancelbtn:hover{
    opacity:80%;
    box-shadow: 0 0 2px 3px rgba(87, 106, 193, 0.65);
}


#signupbtn {
    background-color: #4CAF50;
    justify-content: center;
    margin-left: 18%;
}
#cancelbtn{
    background-color: #f44336;
    justify-content: center;    margin: auto;
    margin-right: 18%;
}

.eye{
    z-index: 1;
    position: absolute;
    cursor: pointer;
}

#eye0{
    padding-top: 1px;
    margin-left: -2.3%;
}
#eye1{
    padding-top: 1px;
    margin-left: -1.2%;
}*/


/**/

.firstname {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
}

.lastname {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;

}
.birthday {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;

}
.emailadress {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;

}
.password1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;

}
.password2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;

}
.accepting {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;

}
.buttonss {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

#eye0, #eye1{
    margin-left: -28px;
}

#signupbtn{
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    background-color: #43bf43;
    border-radius: 24px;
    height: 50px;
}
#cancelbtn{
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    background-color: red;
    border-radius: 24px;
    height: 50px;
}



@media screen and (max-width: 750px){
    .formulier1 {
        width: 80%;
    }
}

@media screen and (max-width: 600px){
    .formulier1 {
        width: 100%;
    }
}

