.view{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    font-family: 'The Girl Next Door', sans-serif;
}
.view p{
    font-size: 20px;
}
#title{
    font-size: 44px;
}
#link{
    background: lightskyblue;
    width: 40%;
    font-size: 24px;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px solid black;
    text-decoration: none;
}
#link:hover{
    box-shadow: 0 0 2px 1px rgba(57, 91, 193, 0.65);

}

@media screen and (max-width: 750px) {
    .view {
        width: 80%;
        margin: auto;
    }
}