footer{
    display: none;
}
.mail-Box{
    width: 30%;
    margin: auto;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'The Girl Next Door', sans-serif;
}

.mail-Box  input{
    margin-top:2%;
    margin-bottom: 1%;
}
.mail-Box textarea{

    margin-top: 2%;

}
#send{
    font-size: 16px;

}

@media screen and (max-width: 650px) {
    .mail-Box {
        width: auto;
    }
    #mailBody {
        width: 80%;
    }

}