main{

}

#gebruikersover {
    text-align: center;
}

#tableUser {
    border-radius: 5px;
    border: none;
    background-color: lightgray;
    margin: auto;

}

thead{
    justify-content: space-around;
    border: none;
    border-bottom: black 2px solid;
    font-size: 18px;
}

th {

}

tbody{
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
}

 th ,td{
     text-align: center;
     border-bottom: 1px solid black;
}

.none {
    background-color:red;
    border-radius:18px;
    cursor:pointer;
    color:#ffffff;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    text-align: center;
    height: 20px;
    width: 20px;
}
.none:hover {
    background-color:#f24437;
}

@media screen and (max-width: 1200px){
    main {
        width: auto;
        overflow: scroll;

    }
    thead, tbody {
        font-size: 12px;
    }

    #tableUser {
    }

}
