footer{
    display: none;
}
main{
    display: inline;
    justify-content: center;
    margin: auto;
    font-family: "Fira Code Retina";

}

main h1{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 2%;
}

.tablemand {
    width: 1200px;
    background-color: lightgray;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
}

.tussentitels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: black 2px solid;
}

.bodywinkelmand {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item {
    display: flex;
    flex-direction: row;
}

.bodybody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: black 1px solid;
}



.totaleprijzen {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#buy {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bookImage{
    height: 150px;
    width: 100px;
    margin-top: 2px;
}
.amountChanges{
    width: 30px;
}

/*.none{
    position: relative;
    left:10%;
    height: 30px;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    background-color: red;
}*/

.none {
    background-color:red;
    border-radius:18px;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    font-weight:bold;
    text-decoration:none;
    text-align: center;
    height: 38px;
    width: 38px;
}
.none:hover {
    background-color:#f24437;
}

#buy th:last-child{
    padding: 5px;
    background-color: #ffa07a;
    border: 1px solid black;
    cursor: pointer;
}

.imgimg {
    width: 25%;
}
.titletitle {
    width: 30%;
}
.amountamount {
    width: 20%;
}
.priceprice {
    width: 15%;
}
.btnbtn {
    width: 20%;
}

#betaalknopje {
    font-size: 25px;
    font-weight: bold;
    border-radius: 25px;
    background-color: rgba(243, 73, 39, 0.67);
    height: 80px;
    width: 160px;
    margin: 10px;
}
#betaalknopje:hover {
    cursor: pointer;
    opacity: 80%;
}

@media screen and (max-width: 1200px){
    .tablemand {
        width: 90%;
    }
}

@media screen and (max-width: 700px){
    .tablemand {
        width: 90%;
    }
    .bodybody {
        font-size: 12px;
    }
    .imgimg {
        width: auto;
    }
    .titletitle {
        width: auto;
    }
}

