<template>
    <div id="app">
        <!--<div id="nav">
            <router-link to="/">Home</router-link>
            <router-link to="/about">About</router-link>
        </div>-->
        <Header/>
        <router-view></router-view>
        <Footer/>
    </div>
</template>

<script>

    import Header from "./views/Header"
    import Footer from "./views/Footer";

    export default {
        name: 'app',
        components: {Header, Footer}
    }
</script>
<style lang="scss">
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    body {
        color: white;

    }

   /* #app {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }*/

    #nav {
        padding: 30px;
        width: 100%;
    }

    #nav a {
        font-weight: bold;
        color: #2c3e50;
    }

    #nav a.router-link-exact-active {
        color: $primary-color;
    }
</style>
